<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/base.css">
    <link rel="stylesheet" href="../../public/styles/layouts.css">
    <link rel="stylesheet" href="../../public/styles/modules.css">
</head>
<body>
            <ul>
                <li> <a href='/index'> Home Page</a> </li>
                <li><a href='/results'> Results</a> </li>
                <li><a href='/contact'> Contact us</a> </li>
            </ul>

         
</body>
</html>