<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layouts.css">
    <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
  
        <header>
                <ul>
                    <li class="btn2"> <a href='/index'> Home Page</a> </li>
                    <li class="btn3"><a href='/results'> Results</a> </li>
                    <li class="btn4"><a href='/contact'> Contact us</a> </li>
                </ul>
            </header>
                

<fieldset>
        <h2>- NUMBERS TALE -</h2>
        <p id="mama">NUMBERS TALE was established in November 2019 <br>with the support of (Code Fellows
            company)<br>
            Under the supervision of the wonderful teacher - John cokos <br>
            ((The project was implemented by a group of four students))<br>
            (Obada , Bayan , Mai ,Saja )<br><br>
            This site specializes in displaying numbers and some of the information associated with these numbers, as this information is general in all areas. <br>
        </p>
    </fieldset>
    <section>
        <p id="papa" style="font-family: Papyrus, fantasy;">- WORK TEAM -</p>
        <div class="container">
            <img src="imag/obada.jpg" width="150px" height="200px">
            <p id="mypic1">Obada mohammad AL-Matrami<br>Computer information science <br>
                <p id="blu">obada.mohmad92@gmail.com></p>
            </p>
        </div>
        <div class="container">
            <img src="imag/bayan_edited.jpg" width="150px" height="200px">
            <p id="mypic1"> Bayan Al-Shaqreen<br>Mathematics <br>
                <p id="blu">bayan.mhmd94@gmail.com</p>
            </p>
        </div>
        <div class="container">
            <img src="imag/mai.jpg" width="150px" height="200px">
            <p id="mypic1">Mai yousef Al-Shaqreen <br>pharmacy<br>
                <p id="blu"> mai.ysf95@yahoo.com</p>
            </p>
        </div>
        <div class="container">
            <img src="imag/saja.jpg" width="150px" height="200px">
            <p id="mypic1">Saja AL-Sawalqa<br>Biomedical Engineering <br>
                <p id="blu">saja.ess567@gmail.com</p>
            </p>
        </div>
    </section>
    <hr width="900px" color="gray">
    <hr width="900px" color="gray">
    <section id="ana">
        <p id="papa2" style="font-family: Papyrus, fantasy;">- Contact US -</p>
        <div class="container2">
            <img src="imag/face.jpg" width="150px" height="200px">
            <p id="mypic12">Numbers tale</p>
            <a href="https://www.facebook.com" id="tag"> Face/Numbers tale</a>
        </div>
        <div class="container2">
            <img src="imag/instaa.jpg" width="150px" height="200px">
            <p id="mypic12">Numbers tale</p>
            <a href="https://www.instagram.com" id="tag"> Insta/Numbers tale</a>
        </div>
        <div class="container2">
            <img src="imag/twt.jpg" width="150px" height="200px">
            <p id="mypic12">Numbers tale</p>
            <a href="https://twitter.com/login?lang=ar" id="tag"> Twit/Numbers tale</a>
        </div>
    </section>  
    
    <footer> All copyrights &copy;  reseved 2019 Fantastic 4 </footer>
</body>
</html>