<!DOCTYPE html>
<html lang="en">

<head>

    <title>my fav nom</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layouts.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">


</head>


<body>

        <div class="bg"></div>

     <div class="grid-container">
      <header>
            <ul>
                <li class="btn2"> <a href='/index'> Home Page</a> </li>
                <li class="btn3"><a href='/results'> Results</a> </li>
                <li class="btn4"><a href='/contact'> Contact us</a> </li>
            </ul>
        </header>
        <section>
            <form action="/add" method="post">
          
                <label id="inpt1">
                User Name
                    <input  type="text" name="name" placeholder="Enter Your Name" required>
                </label> <br>

                <div class="search_categories">
                    <nav id="search_categories"></nav>
                    
                <select name="items" class="select"  >
                   <option >  Choose Type </option>
                    <option value="date">Date</option>
                    <option value="math">Maths</option>
                    <option value="year">Year</option>
                    <option value="trivia">Trivia</option>
                </select><br>
                </div></label>
                <label id="inpt2">
                      Number   
                    <input type="text" name="number" placeholder="Enter Your Fav Number" required>
                </label>
   </section>
                <button class="btn1"> GO </button>
    </form>

</div>
    <footer> All copyrights &copy;  reseved 2019 Fantastic 4 </footer>
    <script src="styles/app.js"></script>
</body>

</html>