<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>

    <ul>
        <li> <a href='/index'> Home Page</a> </li>
        <li><a href='/results'> Results</a> </li>
        <li><a href='/contact'> Contact us</a> </li>
    </ul>
   
    <ul>
        <li id="number"> The Number You Enter is <%= item.number %></li>
        <li id="type"> The Type You Chose is  <%= item.type %></li>
        <li id="text"> The Results is <%= item.text %></li>

    </ul>
<form>


</form>
    


</body>

</html>