<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>

    <ul>
        <li> <a href='/index'> Home Page</a> </li>
<<<<<<< HEAD
        <li><a href='/results'> Resultts</a> </li>
        <li><a href='/contact'> Contact us</a> </li>
    </ul>

=======
        <li><a href='/results'> Results</a> </li>
        <li><a href='/contact'> Contact us</a> </li>
    </ul>

    <% results.forEach(task => { %>
    <ul >
            
        <li id="number"> The Number You Enter is <%= task.number %></li>
        <li id="type"> The Type You Chose is  <%= task.type %></li>
        <li id="text"> The Results is <%= task.text %></li>
       

    </ul>
    <% }) %>
>>>>>>> 959c8e59b27be9b220f2bf36df30d4c3fe603cdb

    

</body>

</html>