<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>

    <ul>
        <li> <a href='/index'> Home Page</a> </li>
        <li><a href='/results'> Resultts</a> </li>
        <li><a href='/contact'> Contact us</a> </li>
    </ul>



</body>

</html>