video{
    /* height: 100%; */
    width: 100%;
    position: fixed;
     top: 0;
    right: 0 ;
    /* opacity: .5; */
    margin-top: -51px;
    z-index: -10;
    overflow: hidden;
    object-fit: cover;
    height: 130vh;
    left: 0;
    min-width: 100%;
    min-height: 100%;
   
    }





    
    